/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 16px;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    transition-duration: 0.2s;
    
}

/* variables */
:root{
    --bg-color:rgb(7, 7, 7);
    --text-color:rgb(243, 238, 238);
    --main-color:rgba(238, 255, 0, 0.87);
}

/* custome scroll bar */
html::-webkit-scrollbar{
    border-radius: 80px;
    background: transparent;
    width: 2px;
    height: 8px;
}

html::-webkit-scrollbar-thumb{
    width: 8px;
    background: var(--text-color);
    border-radius: 2px;
}

section{
    padding: 64px 0 32px;
}

img{
    width:100%;
}

body{
    /* color: var(--text-color); */
    background: var(--bg-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* through java Script */
header.shadow{
    background-color:rgba(156, 103, 4, 0.779);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
    /* height: 13%; */
}


header.shadow #search-icon{
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 19px;
    cursor:pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 32px;
}

.navbar a{
    color: var(--text-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: 0.3s;
}

/* #search-icon{
    font-size: 24px;
    cursor: pointer;
} 

.search-box{
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    background: var(--text-color);
    box-shadow: 4px 4px 20px rgba(72, 80, 55, 100%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
} */

.login-container .loginBtn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.login-container .loginBtn:hover{
    background: rgba(255, 255, 255, 0.651);
    color: black;
    transform: scale(1.1);
}

.login-container .adminBtn{
    display: inline-block;
    padding: 10px 20px;
    margin-left: 0.5px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.login-container .adminBtn:hover{
    background: rgba(255, 255, 255, 0.694);
    color: black;
    transform: scale(1.1);
}
/* ------------------home section------------- */

.home{
    color: var(--text-color);
    max-width: 1300px;
    margin: auto;
    width:100%;
    min-height: 540px;
    display: flex;
    align-items: center;
    background: url(../assets/bgcar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 250px;
}
.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 38px;
}

.home-text span{
    color: var(--main-color);
}

.home-text p{
    font-size: 15px;
    font-weight: 300;
    margin: 8px 0 19px;
}

.btn{
    padding: 10px 22px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    border-radius: 9.5px;
}

.btn:hover{
    background-color: rgba(134, 177, 26, 0.381);
    color: var(--main-color);
}

/* -------------------- car section--------------------- */

.book-cars{
    background: rgba(32, 31, 31, 0.45);
}

.heading{
    text-align: center;
    color: var(--text-color);
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 15px;
    font-weight: 300;
}

/* car container */
.cars-container{
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.cars-container .box{
    flex: 1 1 272px;
    position: relative;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.cars-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2{
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 8px;
}

.cars-container .box a{
    color: white;
}

.cars-container .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}

/* ------------------About us----------------- */
.about{
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    /* background-color: rgb(8, 74, 150); */
}

.about-img{
    flex: 16 16 336px;
}

.about-text{
    flex: 16 16 336px;
}

.about-text span{
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    padding-top: 20px;
    font-size: 26px;
}

.about-text p{
    font-size: 15px;
    margin: 8px 0 23px;
}

/* ----------------------Services-------------------- */

.service{
    background-color: rgba(61, 60, 60, 0.836);
}

.state-contaier{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.state-contaier .box{
    display: flex;
    flex: 16 16 272px;
    position: relative;
    padding: 20px;
    flex-direction: column;
    background: rgba(243, 236, 236, 0.824);
    border-radius: 8px;
}

.state-contaier .box img{
    width: 100%;
    height: 150px;
    object-fit: fill;
    object-position: center;
    margin-bottom: 16px;
    border-radius: 4px;
}

.state-contaier .box h3{
    font-size: 18px;
    font-weight: 600;
}

.state-contaier .box i{
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.state-contaier .box .btn{
    max-width: 120px;
    color: white;
    background: red;
    border-radius: 5px;
    margin: 10px 0;
}

.state-contaier .box .btn:hover{
    color: red;
    background: rgb(250, 250, 250);
}

.state-contaier .box .locations{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 35px;
    right: 30px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.state-contaier .box .locations:hover{
    color: red;
    text-decoration: underline;
}

/* ----------------------blog container--------------------- */

.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}
.blog-container .box{
    flex: 16 16 208px;
    padding: 20px;
    background: gray;
}

.blog-container .box:hover{
    background: rgba(255, 255, 255, 0.815);
}

/* .blog-container .box img{
    height: 45%;
    width: 100%;
} */

.blog-container .box img{
    border-radius: 50%;
}

.blog-container .box span{
    font-size: 14px;
    color: red;
}

.blog-container .box p{
    font-size: 14px;
    margin: 4px 0;
}

.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.blog-container .box .blog-btn:hover{
    color: red;
    column-gap: 10px;
    transition: 0.3s;
}

.blog-container .box .blog-btn .bx{
    font-size: 20px;
}

.blog-container .box .blog-btn .bx:hover{
    color: red;
}

/* footer Styling  */
.footer{
    background: rgb(35, 35, 35);
    color: rgb(255, 0, 0);
    border-top: 2px solid var(--main-color);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.footer-container .logo{
    color: white;
    margin-bottom: 16px;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color: var(--main-color);
    margin-right: 16px;
}

.social a:hover{
    color: var(--main-color);
}

.footer-box h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    text-decoration: underline;
}

.footer-box a,
.footer-box p{
    color: aliceblue;
    margin-bottom: 10px;
}

/* ------------------------copyright------------------- */

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    background: rgb(35, 35, 35);
}

.copyright p:hover{
    color: var(--main-color);
}


/*-------------- making responsive---------------- */
@media(max-width:1080px){
    .container{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media(max-width:991px){
    .nav{
        padding: 15px 20px;
    }

    section{
        padding: 48px 0 16px;
    }

    .home-text{
        padding-left: 32px;
    }

    .home-text h1{
        font-size: 34px;
    }
}

@media(max-width:768px){
    .nav{
        padding: 10px 0;
    }

    #menu-icon{
        display:initial;
        font-size: 32px;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 8px;
        text-align: center;
        border-radius: 4px 4px 20px rgb(15 54 55/20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }

    .navbar a{
        display: block;
        padding: 15px;
    }

    .navbar a:hover,
    .navbar .active{
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
    }

    .navbar.active{
        clip-path: circle(144% at 0% 0%);
    }

    .blog-container.box{
        padding: 4px;
    }
}

@media(max-width:727px){
    .heading span{
        font-size: 14px;
    }

    .heading h2{
        font-size: 22px;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about-text{
        text-align: center;
    }

    .about-text h2{
        font-size: 22px;
    }

    #menu-icon{
        font-size: 32px;
    }
}

@media(max-width:607px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    #menu-icon{
        font-size: 32px;
    }

}

@media(max-width:420px)
{
    .logo{
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
    }
       
    .login-container .loginBtn{
        font-weight: 600;
        padding: 4px 20px;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        border-bottom-left-radius: none;
        border-bottom-right-radius: none;
    }

    #menu-icon{
        font-size: 25px;
    }
    
    .login-container .adminBtn{
        font-weight: 600;
        padding: 4px 20px;

        border-top-left-radius: none;
        border-top-right-radius: none;

        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    
}