<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <link rel="stylesheet" href="/css/loggedIn_successfully.css">
</head>

<body>
  <div class="main">

    <img src="/assets/crossIcon.jpg" alt="" />

    <h1>Booked Successfully...!</h1>
    <a href="/home">...back to Homepage</a><br>
    <a href="/collections">...go to Dashboard</a>
  </div>
</body>

</html>