<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>

<body>

  <form action="/changePassword" method="post">

    <input type="password" name="createPassword" id="createPassword" placeholder="Enter Password"><br>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter Confirm Password">
    <input type="submit" value="Change" id="submit_btn">

  </form>
  <a href="/changeWithEmail"> didn't remember last Password </a>
</body>
<script>

  const createPassword = document.querySelector("#createPassword");
  const confirmPassword = document.querySelector("#confirmPassword");
  const submit_btn = document.querySelector("#submit_btn");
  const form = document.querySelector("form");
  submit_btn.onclick = () => {
    e.preventDefault();
    if (createPassword.value === confirmPassword.value) {
      form.submit();
    }
    else {
      alert("Password Mismatch");
    }
  }

</script>

</html>