<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us page</title>
  <link rel="stylesheet" href="css/aboutUs.css">
</head>
{{>header}}

<body>
  <div class="container">
    <h1 class="heading"><span>meet </span>Our Team</h1>

    <div class="profiles">

      {{!-- suraj --}}
      <div class="profile">
        <img src="assets/user.jpg" alt="user image">

        <h3 class="Developer_name">Suraj</h3>
        <h5>Full Stack Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Recusandae odit officiis eveniet laborios
          esse!</p>
      </div>


      {{!-- sikender --}}
      <div class="profile">
        <img src="assets/user.jpg" alt="user image">

        <h3 class="Developer_name">Sikendar</h3>
        <h5>Backend developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Recusandae odit officiis eveniet laborios
          esse!</p>
      </div>



      {{!-- Piyush --}}
      <div class="profile">
        <img src="assets/user.jpg" alt="user image">

        <h3 class="Developer_name">Piyush</h3>
        <h5>Frontend designer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Recusandae odit officiis eveniet laborios
          esse!</p>
      </div>

    </div>
  </div>
</body>
<script src="js/indexScript.js"></script>

</html>