<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="style.css">

  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title> New Car Regisration </title>
</head>

<body>
  <div class="container">
    <header>Registration</header>

    <form action="#">
      <div class="form first">
        <div class="details personal">
          <span class="title">Car Details</span>

          <div class="fields">
            <div class="input-field">
              <label for="carName">Car Name</label>
              <input type="text" placeholder="Enter Car name" required id="carName" id="carName">
            </div>

            <div class="input-field">
              <label for="carModel">Car Model</label>
              <input type="text" placeholder="Enter Model" required id="carModel" name="carModel">
            </div>

            <div class="input-field">
              <label for="carMileage">Mileage</label>
              <input type="text" placeholder="Enter Car Mileage" required id="carMileage" name="carMilegae">
            </div>

            <div class="input-field">
              <label for="no_of_seats">Number of Seats</label>
              <input type="number" placeholder="Seats" required id="no_of_seats" name="no_of_seats">
            </div>

            <div class="input-field">
              <label for="car_color">Color</label>
              <input type="text" placeholder="Car color" required id="car_color" name="car_color">
            </div>


            <div class="input-field">
              <label for="carPrice">Price</label>
              <input type="number" placeholder="" required name="carPrice" id="carPrice">
            </div>
          </div>
        </div>

        <div class="details ID">
          <span class="title">Identity Details</span>

          <div class="fields">
            <div class="input-field">
              <label for="registartion_number">Registration Number</label>
              <input type="text" placeholder="Registration Car Number" required name="registartion_number"
                id="registartion_number">
            </div>

            <div class="input-field">
              <label for="carDescription">Description</label>
              <input type="text" placeholder="Enter Description" required id="carDescription" name="carDescription">
            </div>


            <div class="input-field">
              <label for="launchDate">Launched Date</label>
              <input type="date" placeholder="Enter your issued date" required id="launchDate" name="launchDate">
            </div>


            <button class="sumbit">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="script.js"></script>
</body>

</html>