<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>

<body>

  <form action="/forgetPassword" method="post">

    <input type="text" name="email" id="email" placeholder="Enter Email"><br>
    <input type="password" name="password" id="password" placeholder="Enter Last Password">
    <input type="submit" value="procced">

  </form>
  <a href="/changeWithEmail"> didn't remember last Password </a>
</body>

</html>