<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page</title>
  <link rel="stylesheet" href="/css/success_and_failure_message.css"> <!-- Assuming you have a stylesheet -->
</head>

<body>
  <!-- Generating 5 bubble elements -->
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>

  <div class="main">
    <h1>Incorrect Password Entered</h1>
    <p>
      It looks like you're lost...<br>
      i think you are not that one, I registered
    </p>
    <a href="/home">homepage</a>
  </div>
</body>

</html>