<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
  <link rel="stylesheet" href="css/mailVerification.css">

</head>

<div class="message">

  OTP has been sent successfully to your entered Email-Id <br>
  To verify Email click on the link below
</div>

<form action="/mailVerification" method="post">

  <div>
    <label for="verifyingEmail">Enter Email</label><br>
    <input type="verifyingEmail" required id="verifyingEmail" name="verifyingEmail">
  </div>
  <div>
    <label for="otp">Enter OTP </label><br>
    <input type="number" required id="otp" name="otp">
  </div>

  <button type="submit">Procced</button>
</form>

<body>

</body>

</html>