<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
  <link rel="stylesheet" href="css/mailVerification.css">

</head>

<form action="/mailVerification" method="post">

  <div>
    <label for="otp">Enter OTP </label><br>
    <input type="number" required id="otp" name="otp">
  </div>
  <button type="submit">Procced</button>
</form>

<body>

</body>

</html>