<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register page</title>
  <!-- Link The Css File -->
  <link rel="stylesheet" href="./css/userRegistration.css" />
  <link rel="stylesheet" href="./css/commonStyling.css">
  <!-- Using Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <span class="icon-close">
      <i class="bx bx-arrow-back bx-flip-vertical" style="color: #fde475"></i>
      <a href="/home"> Home </a>
    </span>
    <div class="form-box register " title="All fields are neccessary">
      <h2>Registration</h2>
      <form action="/userRegistration" method="post">

        <!-- *****************  For Name *********** -->

        <div class="input-box">
          <span class="icon"><i class="bx bxs-user"></i></span>
          <input type="text" name="FullName" id="FullName" value="" required="required" autocomplete="off"
            placeholder="Enter Name" class="" />
          <small class="name_small"></small>
        </div>


        <!-- *****************  For Contact *********** -->

        <div class="input-box">
          <span class="icon"><i class="bx bxs-phone"></i></span>
          <input type="number" name="Contact" id="Contact-Number" value="" required="required" autocomplete="off"
            placeholder="Enter Phone Number" />
          <small class="contact_small" id="Mobile-Number-Small"></small>
        </div>


        <!-- *****************  Email*********** -->

        <div class="input-box">
          <span class="icon"><i class="bx bxs-envelope"></i></span>
          <input type="email" name="Email" value="" required="required" id="Email-Id" autocomplete="off"
            placeholder="Enter Email" class="email_small" />
          <small class="email_small" id="Email-Small"></small>
        </div>


        <!-- *****************  Create Password *********** -->

        <div class="input-box">
          <span class="icon" style="z-index: 99;"><i class='bx bxs-hide Hide-Password' class="Hide-Password"></i></span>
          <input type="password" name="Create_Password" id="CP" value="" required="required" autocomplete="off"
            placeholder="Create Password" class="" />
          <small class="create-password-small error-message"></small>
        </div>

        <!-- *****************  Confirm Password *********** -->


        <div class="input-box">
          <input type="password" name="Confirm_Password" id="Confirm-Password" value="" required="required"
            autocomplete="off" placeholder="Confirm Password" />
          <small id="confirm-Password-Small" class="error-message"></small>
        </div>


        <!-- *****************  Submit  *********** -->

        <button type="submit" class="btn" id="RegistrationSubmit">Procced for OTP</button>


        <!-- *****************  Already Signed Up  *********** -->

        <div class="login-register">
          <p>
            Already have an account?
            <a href="/userLogin" class="login-link">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <script src="./js/userValidation.js"></script>
</body>

</html>.