<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Rental System</title>

  <!-- Link The Css File -->
  <link rel="stylesheet" href="css/header.css">

  <!-- Box Icons - taken from the boxicon.com/usage-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- Navbar -->

  <header>
    <!-- Container -->
    <div class="nav container">
      <!-- Menu Icons -->
      <i class='bx bx-menu' style='color:#f7f5f5' id="menu-icon"></i>

      <!-- Logo -->
      <a href="/home" class="logo">Car <span>Rental</span></a>

      <!-- Navbar Lists -->
      <ul class="navbar">
        <li><a href="/home" class="active"> Home </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/contact-us"> Contact us </a></li>
      </ul>

      <!-- user login & Admin Login -->
      <div class="login-container">
        <a href="/userLogin" class="loginBtn"> USERS </a>
        <a href="/logout" class="adminBtn"> Logout </a>
      </div>
    </div>
  </header>
</body>

</html>