@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: rgb(7, 7, 7);
  --text-color: rgb(243, 238, 238);
  --main-color: rgba(238, 255, 0, 0.87);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../assets/bgcar.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  color: var(--text-color);
  position: relative;
  width: 360px;
  height: 440px;
  background: #9b9a9a6e;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(214, 252, 2, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transform: scale(0); */
  transition: height .3s ease;
}

/* added active class through java Script */
.container.active {
  height: 550px;
}

.container .form-box {
  width: 100%;
  padding: 40px;
  padding-top: 5px;
}

.container .form-box.login {
  /* display: none; */
  transition: transform .18s ease;
  transform: translateX(0);
}

.container.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.container .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
  /* padding: 20px; */
}

.container.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 30px;
  /* text-decoration: underline; */
  color: var(--main-color);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid var(--main-color);
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 600;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0 35px 0 5px;
}


.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 18px;
  color: rgb(4, 4, 4);
  line-height: 57px;
}

.remember-forgot {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
  margin: 8px 0 14px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #575725;
  margin-right: 3px;
}

.remember-forgot a {
  color: #e0f48e;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: yellow;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  /* outline: none; */
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.login-register {
  font-size: 14px;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 6px 0 8px;
}

.login-register p {
  color: #fff;
}

.login-register p a {
  color: #e0f48e;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  color: var(--main-color);
  transform: scale(1.1);
  text-decoration: underline;
}

.container .icon-close {
  position: absolute;
  padding-right: 2px;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 45px;
  background: #162938f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-bottom-left-radius: 18px;
  cursor: pointer;
  overflow: hidden;
  border-top-right-radius: 18px;
  z-index: 1;
}

.container .icon-close:hover {
  transform: translateX(-5px);
  transition: 0.5s ease;
}

.icon-close a {
  padding-left: 8px;
  font-size: 16px;
  color: gold;
  text-decoration: none;
}